<launch>

    <rosparam file="$(find hikcamera_ros_driver2)/config/hikcamera-param.yaml" command="load"/>
    <rosparam file="$(find hikcamera_ros_driver2)/config/ros-node-config.yaml" command="load"/>

    <node pkg="hikcamera_ros_driver2" type="action_command_brocast" name="action_command_brocast" output="screen"/>
    <node pkg="hikcamera_ros_driver2" type="multi_cam_rcv_cb" name="multi_cam_rcv_cb" output="screen"/>
</launch>